<div class="card-grid py-5 bg-light">
	<div class="container">
		<div class="row justify-content-evenly">
			<div class="card col-md-4 mb-4 p-0">
				<div class="project rounded-top">
					<buttons></buttons>
				</div>
				<div class="card-footer pt-2 box-shadow">
					<h3>Buttons</h3>
				</div>
			</div>
			<div class="card col-md-4 mb-4 p-0">
				<div class="project">
					<traffic-light></traffic-light>
				</div>
				<div class="card-footer pt-2 box-shadow">
					<h3>Traffic light</h3>
				</div>
			</div>
			<div class="card col-md-4 mb-4 p-0">
				<div class="project rounded-top">
					<todo-list></todo-list>
				</div>
				<div class="card-footer pt-2 box-shadow">
					<h3>ToDo List</h3>
				</div>
			</div>
		</div>
		<div class="row justify-content-evenly">
			<div class="card col-md-4 mb-4 p-0">
				<div class="project rounded-top">
					<log-in></log-in>
				</div>
				<div class="card-footer pt-2 box-shadow">
					<h3>Log In</h3>
				</div>
			</div>
			<div class="card col-md-4 mb-4 p-0">
				<div class="project rounded-top">
					<sign-in></sign-in>
				</div>
				<div class="card-footer pt-2 box-shadow">
					<h3>Sign In</h3>
				</div>
			</div>
		</div>
	</div>
</div>
